body{
  font-family: 'Open Sans', sans-serif;
  height: auto;
  padding-bottom: 90px;
  background-color: silver;
  z-index: -1;
}

h1{
  font-family: 'Freckle Face', cursive;
}

h5{
  font-weight: 600;
}

//display
.jumbotron {
    height: 440px;
    width: 100%;
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-color: #FF8C00;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

//navbar
.navbar{
  background-color: #000;
  color: #fff;
}

.nav-item{
  color: silver;
}

.navbar-toggler{
  border-color:  #FF8C00;
}

.navbar-toggler-icon{
  background-color: silver;
}

.navbar-brand{
  font-family: 'Freckle Face';
  font-size: 40px;
  color: #FF8C00;
}

.header{
  width:100%;
  height: 200px;
  padding: 40px;
  margin-bottom: 0;
}

//bootstrap
#parent {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding-top: 0;
  // padding: 15px;
}

#parentRow {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

#content {
  min-height: 100vh;
  margin-top: 15px;

}

//blog posts and comments

#blogForm .alert-danger{
  font-size: 10px;
}

#blogButton{
  margin: 2px;
}

#postInfo h5{
  padding: 0px;
}


#comment-form .alert-danger{
  font-size: 10px;
}

#comment .flex-container{
  display: flex;
  height: auto;
  flex-direction: column;
}
//
// #comment section.content {
//   flex: 1;
// }

#comment p{
  margin-bottom: 0px !important;
  padding: 1px;
}

input.largeCheckbox{
  width: 20px;
  height: 20px;
}


.carousel-caption {
  text-align:center;
}

.carousel-inner .item img {
  margin: auto;
}

.carousel-control-next .carousel-control-prev {
  margin: auto;
  width: auto;
}

.carousel-item img{
  height: auto;
  width: 100%;
}


//contact page
.well {
  background: #DCDCDC;
  border: 2px groove #A8A8A8;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
}

//item page
.card {
  width: 360px;
}

.card-header {
  background-color: #808080;
}

.card-body{
  margin-left: auto;
  margin-right: auto;
}



// discography page table

table {
  width: 900px;
}

.table-reponsive { //bootstrap defaults
  min-width: 906px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;

  margin-bottom: 20px;
}

// td {
//   word-wrap: break-word;
// }

/* The sidebar menu */
// DO NOT CHANGE THIS!!
#sidebar {
    width: 360px; /* Set the width of the sidebar */
    margin-bottom: 90px; /* keeps sticky footer from covering content in sidebar */
    position: absolute;
    z-index: 0; /* Stay on top */
    background-color: #000; /* Black */
    box-shadow: 15px 12px 28px #FF8C00;

}

/* The navigation menu links */
#sidebar p {
    padding: 4px;
    font-size: 25px;
    font-weight: 600;
    color: #818181;
    display: block;
}

//audio
audio.controls {
  width: auto;
}

.embed-responsive { //bootstrap defaults
  display: block;
  max-width: 100%;
  height: auto;
}

//photos, images and logos

.img-responsive { //bootstrap defaults
  display: block;
  max-width: 100%;
  height: auto;
}

#newLP{
  width: auto;
  height: auto;
}

#calendar {
  width: auto;
  height: auto;
}

#logo {
  margin-top: 50px;
  margin-left: 15px;
  width: 400px;
  height: auto;
}

// #logo{
//   width: auto;
//   height: auto;
//   max-height: 300px;
//   margin-top: 75px;
//   padding-right: 15px;
//   padding-left: 15px;
// }


#shoes {
  z-index: 1;
  max-width: 250px;
  height: auto;
}

#thumbnail{
  width: 100px;
  height: auto;
}

#press img{
  width: 160px;
  height: auto;
  margin-bottom: 6px;
}

#footer{
  position: fixed;
  font-size: 12px;
  padding: 12px;
  width: 100%;
  margin-bottom: 0px;
}

@media screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape){

  /* For tablets: */
  /* .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;} */

    #sidebar {
      position: relative;
      width: 100vw;
      margin-left: 10px;
      columns: 2;
      max-height: 460px;

    }

    #content {
      position: relative;
      columns: 1;
      /* width: 100%; */
      padding-left: 25px;
    }

  .jumbotron img{
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
    }

    /* .navbar {
      margin-top: 360px;
    } */

    #newLP {
      width: auto;
      max-width: 200px;
    }

    #calendar {
      max-width: 260px;
    }

    #footer{
      position: fixed;
      font-size: 12px;
      padding: 12px;
      width: 100vw;
      margin-bottom: 0px;
    }

}


@media screen and (min-width: 569px) and (max-width: 736px) and (orientation: landscape){

  /* For tablets: */
  /* .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;} */

  #sidebar {
    position: relative;
    width: 100vw;
    margin-left: 10px;
    columns: 2;
    max-height: 460px;

  }

  #content {
    position: relative;
    columns: 1;
    width: 100%;
    padding-left: 25px;
  }

.jumbotron img{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  // .navbar {
  //   margin-top: 360px;
  // }

  #newLP {
    width: auto;
    max-width: 200px;
  }

  #calendar {
    max-width: 260px;
  }

  #footer{
    position: fixed;
    font-size: 12px;
    padding: 12px;
    width: 100vw;
    margin-bottom: 0px;
  }

}

/* iphone X */
@media screen and (min-width: 737px) and (max-width: 812px) and (orientation: landscape){

  #sidebar {
    position: relative;
    width: 100vw;
    margin-left: 10px;
    columns: 2;
    max-height: 460px;

  }

  #content {
    position: relative;
    columns: 1;
    width: 100vw;
    padding-left: 15px;
  }

  #newLP {
    width: 200px;
  }

  #calendar {
    max-width: 260px;
  }

  #footer{
    position: fixed;
    font-size: 12px;
    padding: 12px;
    width: 100vw;
    margin-bottom: 0px;
  }

  .navbar {
    margin-top: 0px;
  }
}

@media screen and (min-width: 813px) and (max-width: 1023px){

  #sidebar {
    position: relative;
    margin-left: 10px;
    width: 100vw;
    max-width: 360px;
    height: auto;
  }

  #content {
    position: relative;
    columns: 1;
    width: 100%;
    padding-left: 15px;
  }

  .navbar {
    margin-top: 0px;
  }

  #shoes {
    width: 200px;
    height: auto;
  }

  #footer{
    position: fixed;
    font-size: 12px;
    padding: 12px;
    width: 100vw;
    margin-bottom: 0px;
  }
  /* For desktop: */
  /* .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;} */

}

/* large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1024px) {

  #content {
    position: relative;
    columns: 1;
    width: 100%;
    padding-left: 15px;
  }

}
