body{
  font-family: 'Open Sans', sans-serif;
  height: auto;
  padding-bottom: 90px;
  background-color: silver;
  z-index: -1;
}

h1{
  font-family: 'Freckle Face', cursive;
}

h5{
  font-weight: 600;
}


//display
.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

//navbar
.navbar{
  background-color: #000;
  color: #fff;
}

.nav-item{
  color: silver;
}

.navbar-toggler{
  border-color:  #FF8C00;
}

.navbar-toggler-icon{
  background-color: silver;
}

.navbar-brand{
  font-family: 'Freckle Face';
  font-size: 40px;
  color: #FF8C00;
}

.header{
  width:100%;
  height: 200px;
  padding: 40px;
}

//bootstrap
#parent {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 15px;
}

#parentRow {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

#content {
  min-height: 100vh;
}

//blog posts and comments

#blogForm .alert-danger{
  font-size: 10px;
}

#blogButton{
  margin: 2px;
}

#postInfo h5{
  padding: 0px;
}


#comment-form .alert-danger{
  font-size: 10px;
}

#comment .flex-container{
  display: flex;
  height: auto;
  flex-direction: column;
}
//
// #comment section.content {
//   flex: 1;
// }

#comment p{
  margin-bottom: 0px !important;
  padding: 1px;
}

input.largeCheckbox{
  width: 20px;
  height: 20px;
}


// photo carousel

// #item .img{
//   margin: 5px;
//   display: block;
//   align-self: center;
// }
//
// #myCarousel .img{
//   width: auto;
//   height: 200px;
//   margin: 15px;
// }

.carousel-caption {
  text-align:center;
}

.carousel-inner .item img {
  margin: auto;
}

.carousel-control-next .carousel-control-prev {
  margin: auto;
  width: auto;
}

.carousel-item img{
  height: auto;
  width: 100%;
}


//contact page
.well {
  background: #DCDCDC;
  border: 2px groove #A8A8A8;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
}

// discography page table

.table-reponsive { //bootstrap defaults
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;

  margin-bottom: 20px;
}

// td {
//   word-wrap: break-word;
// }

/* The sidebar menu */
// DO NOT CHANGE THIS!!
#sidebar {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 360px; /* Set the width of the sidebar */
    margin-bottom: 90px; /* keeps sticky footer from covering content in sidebar */
    position: absolute;
    // z-index: 0; /* Stay on top */
    background-color: #000; /* Black */
    box-shadow: 15px 12px 28px #FF8C00;

}

/* The navigation menu links */
#sidebar p {
    padding: 4px;
    font-size: 25px;
    font-weight: 600;
    color: #818181;
    display: block;
}

//audio
audio.controls {
  width: auto;
}

.embed-responsive { //bootstrap defaults
  display: block;
  max-width: 100%;
  height: auto;
}

//photos, images and logos

.img-responsive { //bootstrap defaults
  display: block;
  max-width: 100%;
  height: auto;
}

#newLP{
  width: auto;
  height: auto;
}

#calendar {
  width: auto;
  height: auto;
}

#logo{
  width: auto;
  height: auto;
}

#shoes {
  width: 200px;
  height: auto;
}

#thumbnail{
  width: 100px;
  height: auto;
}

#press img{
  width: 160px;
  height: auto;
  margin-bottom: 6px;
}

#footer{
  position: fixed;
  font-size: 12px;
  padding: 12px;
  width: 100%;
  margin-bottom: 0px;
}

@media screen and (min-width: 531px) and (max-width: 767px) {

    #sidebar {
      position: absolute;
      width: auto;
      columns: 2;
      max-height: 460px;
    }

    .header {
      height: 160px;
      padding-bottom: 0;
    }

    #content {
      position: relative;
      margin-top: 15px;
      padding-top: 15px;
    }

    #newLP {
      max-width: 200px;
    }

    #calendar {
      max-width: 260px;
    }

    #shoes {
      max-width: 200px;
    }

    #footer {
      font-size: 8px;
      height: 50px;
      /* padding: 10px; */
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

  #sidebar {
    columns: 1;
  }

  #content {
    columns: 1;
    margin-top: 15px;
    margin-left: 15px;
  }

}
