body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    height: auto;
    padding-bottom: 90px;
    background-color: silver;
}

h1 {
    font-family: 'Freckle Face', cursive;
}

h5 {
    font-weight: 600;
}

.btn-grim{
  background-color: #FF8C00;
}

#messages.card #response.card{
  width: 100%;
}

#messages.card {
  background-color: #E8E8E8;
}

#response.card {
  border: 1px solid #808080;
}

#messages.table-responsive {
    width: 100%;
    border: 1px solid #808080;
    margin-left: auto;
    margin-right: auto;

}

#messages.container-fluid {
  width: 100%;
  margin-top: 15px;
  float: center;
}

#messageResponse p{
  padding: 0;
  margin: 0;
}

#merchandise.table-responsive {
    width: 100%;
    border: 1px solid #808080;
    margin-left: auto;
    margin-right: auto;

}

//display
.jumbotron {
    height: 440px;
    width: 100%;
    margin-bottom: 0;
    background-color: #FF8C00;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
}
//navbar
.navbar {
    background-color: #000;
    color: #fff;
    width: 100%;
    margin: 0;
}

.nav-item {
    color: silver;
}

.navbar-toggler {
    border-color: #FF8C00;
}

.navbar-toggler-icon {
    background-color: silver;
}

.navbar-brand {
    font-family: 'Freckle Face';
    font-size: 40px;
    color: #FF8C00;
}

.header {
    width: 100%;
    height: 160px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    margin: 0;
    padding: 0;
}

#content {
  padding: 15px;
  margin-top: 15px;
  margin-left: 15px;

}

#comment p {
  width: 100%;
}

.comment {
  margin-left: 15px;
}

//blog posts and comments
.alert-danger {
    font-size: 10px;
}

#blogButton {
    margin: 2px;
}

#postInfo h5 {
    padding: 0;
}

#post.container-fluid{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#post.card{
  min-width: 800px;
  background-color: #E8E8E8 ;
  padding: 15px;
  border-width: 1px;
  margin-bottom: 30px;
}


#comment-form .alert-danger {
    font-size: 10px;
}

#comment .flex-container {
    display: flex;
    height: auto;
    flex-direction: column;
}


#comment p {
    margin-bottom: 0 !important;
    padding: 1px;
}

input.largeCheckbox {
    width: 20px;
    height: 20px;
}

.carousel-caption {
    text-align: center;
}

.carousel-inner .item img {
    margin: auto;
}

.carousel-control-next .carousel-control-prev {
    margin: auto;
    width: auto;
}

.carousel-item img {
    height: auto;
    width: 100%;
}

#cards.container-fluid {
  margin-top: 10px;
  margin-left: 40px;
  width: 100%;
  min-width: 280px;
}

.card {
  margin-top: 15px;
  border: 2px solid #000;
  z-index: 0;
  margin-left: 5px;
  margin-right: 5px;
}


#card.card {
  max-width: 320px;
  height: auto;
}

.card-body img{
  width: 100%;
}

.card-header {
  font-size: 16px;
  background-color: #808080;
}

.card-block {
    width: 300px;
}


thead {
  background-color: #808080;
  font-size: 20px;
}

.table {
  border: 1px solid #808080;
}

td {
  padding: 15px;
}

.format {
  font-size: 14px;
}

.no-gutters {
  margin-left: 0px;
  margin-right: 0px;
    .col,
    [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

.table-reponsive {
    //bootstrap defaults
    // display: table-cell;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 20px;
}

#sidebar {
  margin-left: auto;
  margin-right: auto;
}

#sidebar.mx-auto {
    display: block;
    height: auto;
    // margin-bottom: 90px;
    /* keeps sticky footer from covering content in sidebar */
    margin-top: 15px;
    float: left;

    z-index: 0;
    /* Stay on top */
    box-shadow: 15px 12px 28px #FF8C00;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

/* The navigation menu links */
#sidebar p {
    padding: 4px;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    color: #818181;
    display: block;
}

//audio
audio.controls {
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

//photos, images and logos
.img-responsive {
    width: auto;
    max-width: 260px;
}

#messagesResponse.container-fluid {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

#invoiceForm label{
    margin-top: 0px;
    margin-bottom: 0px;
}

#invoiceForm input {
  margin: 0px;
}

#totals p {
  display: inline-block;
  align: justify;

}

#newLP img{
    max-width: 260px;
    height: auto;
}

#logo {
    width: auto;
    height: auto;
    max-height: 300px;
    margin-top: 75px;
    margin-right: 15px;
    margin-left: 15px;
}

#shoes {
    margin-top: -40px;
    z-index: 1;
    max-width: 250px;
    height: auto;
}

#thumbnail {
    width: 100px;
    height: auto;
}

#press img {
    width: 160px;
    height: auto;
    margin-bottom: 6px;
}

#footer {
    position: fixed;
    font-size: 12px;
    padding: 12px;
    width: 100%;
    margin-bottom: 0;
}

#band-image {
    height: 440px;
    margin-left: auto;
    margin-right: auto;
}

.background-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
}



// .toggle-content {
//   display: none;
//   opacity: 0;
//   overflow: hidden;
//   transition: opacity 350ms ease-in-out;
// }
//
// .toggle-content.is-visible {
//   display: block;
//   opacity: 1;
// }


@media screen and (max-width: 1024px) {
    #band-image {
        -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
        -webkit-mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: left top, left bottom;
    }
}

// small mobile phones
@media screen and (min-width: 320px) and (max-width: 575px) and (orientation: landscape) {
//     // col-sm
        #sidebar {
        position: relative;
        width: 100%;
        columns: 3;
        max-height: 480px;
    }

    #content {
        position: relative;
        columns: 1;

    }

    .navbar {
      columns: 1;
    }

    .header {
      columns: 1;
      height: 200px;
    }

    #shoes {
        width: 150px;
        height: auto;
    }

    audio {
      height: 40px;
      width: 100%;
    }

    #newLP {
        width: auto;
        max-width:240px;
    }

    #footer {
        position: fixed;
        columns: 1;
        font-size: 12px;
        padding: 12px;
        width: 100%;
        margin-bottom: 0;
    }
}

// larger mobile phones and tablets
@media screen and (min-width: 576px) and (max-width: 767px) and (orientation: landscape){
    // col-sm
        #sidebar {
        position: relative;
        width: 100%;
        columns: 2;
        max-height: 480px;
    }

    #content {
        position: relative;
        columns: 1;

    }

    .jumbotron {
      columns: 2;
    }

    .navbar {
      columns: 2;
    }

    .header {
      columns: 2;
      height: 200px;
    }

    #shoes {
        width: 150px;
        height: auto;
    }

    audio {
      height: 40px;
    }

    #newLP {
        width: auto;
        max-width:240px;
    }

    #footer {
        position: fixed;
        columns: 1;
        font-size: 12px;
        padding: 12px;
        width: 100%;
        margin-bottom: 0;
    }
}
// tablets
@media screen and (min-width: 768px) and (max-width: 991) and (orientationi: landscape){
    // col-md
    #sidebar {
        position: relative;
        width: 100%;
        max-height: 480px;
        margin-left: 15px;
        columns: 3;

    }

    #content {
        position: relative;
        columns: 2;
    }

    .jumbotron {
      columns: 2;
    }

    .navbar {
      columns: 2;
    }

    .header {
      columns: 2;
    }

    audio {
      height: 40px;
    }

    h5 {
      font-size: 25px;
    }

    #shoes {
      margin-top: -80px;
    }

    #newLP {
      width: 200px;
    }

    #recordLabelLogo.img-responsive {
      width: 200px;
    }


    #footer {
        position: fixed;
        font-size: 12px;
        padding: 12px;
        columns: 3;
        margin-bottom: 0;
    }
}

// desktops
@media screen and (min-width: 992px) and (max-width: 1199px){
    //col-lg
    #sidebar {
        position: relative;
        // margin-left: 15px;
        // width: 100%;
        columns: 1;
    }

    #content {
        position: relative;
        columns: 1;
    }

    .jumbotron {
      width: 100%;
      columns: 2;
    }

    .navbar {
      width: 100%;
      columns: 2;
    }

    h5 {
      font-size: 20px;
    }

    #calendar {
      width: 240px;
    }

    .data-tockify-height {
      height: 400px;
    }

    #newLP {
      width: 240px;
    }

    #recordLabelLogo.img-responsive {
      width: 240px;
    }

    #shoes {
      margin-top: -80px;
    }

    #footer {
        position: fixed;
        font-size: 12px;
        padding: 12px;
        width: 100vw;
        margin-bottom: 0;
    }
}
// x-large screens
@media screen and (min-width: 1200px){
    //col-lg
    #sidebar {
        position: relative;
        max-width: 360px;
        columns: 3;
    }

    #content {
        position: relative;
        columns: 1;

    }

    .jumbotron {
      width: 100%;
      columns:1;
    }

    .navbar {
      width: 100%;
      columns: 1;
    }

}

// desktops
@media screen and (min-width: 1140px){
    //col-xl
    #sidebar {
     position: relative;
     columns: 1;
     margin-left: 15px;
     max-width: 360px;
     height: auto;
    }

    #content {
        position: relative;
        columns: 1;

    }

    .jumbotron {
      width: 100%;
      columns:1;
    }

    .navbar {
      width: 100%;
      columns: 1;
    }

}
